<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registro Usuarios</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
  <link rel="stylesheet" href="../assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../assets/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../assets/css/shared/style.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../assets/css/demo_1/style.css">
  <link rel="stylesheet" href="../css/custom.css">
  <!-- End Layout styles -->
  <link rel="shortcut icon" href="../img/logo_d.svg">
</head>

<body>
  <div class="loader-page" id="loader-page"></div>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div id="div-logo" class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="/">
          <img id="logo" src="../img/logo_w.svg" alt="logo" />
          <div id="logo-text"></div>
        </a>
        <a class="navbar-brand brand-logo-mini" href="/">
          <img src="../img/logo_w.svg" style="width: 100px; color: #000" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <div class="col-12">
          <div class="page">
            <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
              <ul class="quick-links">
                <li>
                  <h4 class="page-title d-none d-xl-inline-block bg-light"><b>Registro de Soccios</b></h4>
                </li>
              </ul>
              <div class="btn-sm row quick-links ml-auto" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                  <i class="fa fa-search"></i><a class="d-none d-xl-inline-block"> Buscar</a>
                </button>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target=".modal_info">
                  <i class="fa fa-history"></i><a class="d-none d-xl-inline-block"> Historico</a>
                </button>
                <button type="button" class="btn btn-light">
                  <i class="fa fa-cog"></i><a class="d-none d-xl-inline-block"> Configuracion</a>
                </button>
              </div>
              <ul class="navbar-nav quick-links">
                <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                  <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                    aria-expanded="false">
                    <img class="img-xs rounded-circle" src="../img/avatar1.png" alt="Profile image"> </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                    <div class="dropdown-header text-center">
                      <img class="img-md rounded-circle" src="../img/avatar1.png" alt="Profile image">
                      <p class="mb-1 mt-3 font-weight-semibold">Juan Carlos Abreu Paulino</p>
                      <p class="font-weight-light text-muted mb-0">juancarlos192003@gmail.com</p>
                    </div>
                    <a class="dropdown-item">Mi Perfil <span class="badge badge-pill badge-danger">1</span><i
                        class="dropdown-item-icon ti-dashboard"></i></a>
                    <a class="dropdown-item">Messages<i class="dropdown-item-icon ti-comment-alt"></i></a>
                    <a class="dropdown-item">Activity<i class="dropdown-item-icon ti-location-arrow"></i></a>
                    <a class="dropdown-item">FAQ<i class="dropdown-item-icon ti-help-alt"></i></a>
                    <a class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="mb-5">
            <a class="nav-link mb-4">
              <div class="profile-image">
                <div class="dot-indicator"></div>
              </div>
              <div class="text-wrapper">
                <p class="profile-name"></p>
                <p class="designation"></p>
              </div>
            </a>
          </li>
          <li class="nav-item nav-category">Menu Principal</li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Registrar</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buscar.php">
              <i class="menu-icon typcn typcn-document-text"></i>
              <span class="menu-title">Buscar</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <form action="/register-user" method="POST" onsubmit="save();">
                  <h4 class="card-title">Formulario Inscripcion a la Cooperativa</h4>
                  <p class="card-description">Informacion Personal </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-9">
                          <input type="text" name="nombre" id="nombre" autocomplete="off" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Apellido</label>
                        <div class="col-sm-9">
                          <input type="text" name="apellido" id="apellido" type="text" autocomplete="off"
                            class="form-control" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Correo</label>
                        <div class="col-sm-9">
                          <input class="form-control" autocomplete="off" type="text" name="correo" id="correo" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">F.Nacimiento</label>
                        <div class="col-sm-9">
                          <input class="form-control" name="fecha_n" id="fecha_n" autocomplete="off" type="date"
                            placeholder="dd/mm/yyyy" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Estado Civil</label>
                        <div class="col-sm-9">
                          <select class="form-control" name="estado" id="fecha_n" autocomplete="off" required>
                            <option value="1">Soltero</option>
                            <option value="2">Casado</option>
                            <option value="3">Divorciado</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Profeccion</label>
                        <div class="col-sm-9">
                          <input class="form-control" name="profeccion" id="profeccion" autocomplete="off" required>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Telefono</label>
                        <div class="col-sm-9">
                          <input class="form-control" name="telefono" autocomplete="off" onchange="formatear();"
                            pattern="[0-9]{3}[- ][0-9]{3}[ -][0-9]{4}" id="telefono" type="tel"
                            placeholder="(809)-000-000"
                            title="Un número de teléfono válido consta de un código de 3 dígitos entre un guión (-) ,los tres primeros dígitos del número, un guión (-) y cuatro dígitos más"
                            required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Celular</label>
                        <div class="col-sm-9">
                          <input class="form-control" name="celular" type="tel"
                            pattern="[0-9]{3}[- ][0-9]{3}[ -][0-9]{4}" autocomplete="off" onchange="formatear1();"
                            id="celular" placeholder="(829)-000-0000"
                            title="Un número de teléfono válido consta de un código de 3 dígitos entre un guión (-) ,los tres primeros dígitos del número, un guión (-) y cuatro dígitos más"
                            required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Genero</label>
                        <div class="col-sm-9">
                          <select class="form-control" name="genero" id="genero" required>
                            <option value="0">Selecciona..</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Cuotas</label>
                        <div class="col-sm-9">
                          <input class="form-control" name="cuotas" autocomplete="off" id="cuotas" type="text" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script>
                    function formatear() {
                      var num_sf = document.getElementById('telefono').value;
                      var num_cf = '';
                      num_cf = num_sf.substring(0, 3) + "-";
                      num_cf += num_sf.substring(3, 6) + "-";
                      num_cf += num_sf.substring(6, 10);
                      document.getElementById('telefono').value = num_cf;
                    }
                    function formatear1() {
                      var num_sf = document.getElementById('celular').value;
                      var num_cf = '';
                      num_cf = num_sf.substring(0, 3) + "-";
                      num_cf += num_sf.substring(3, 6) + "-";
                      num_cf += num_sf.substring(6, 10);
                      document.getElementById('celular').value = num_cf;
                    }
                    function cedula23() {
                      var num_sf = document.getElementById('cedula').value;
                      var num_cf = '';
                      num_cf = num_sf.substring(0, 3) + "-";
                      num_cf += num_sf.substring(3, 10) + "-";
                      num_cf += num_sf.substring(10, 11);
                      document.getElementById('cedula').value = num_cf;
                    }
                    window.onload = function () {
                      let carga = document.getElementById("loader-page");

                      carga.style.visibility = 'hidden';
                      carga.style.opacity = '0';

                    }
                    window.addEventListener("scroll", function (event) {

                      var scroll_y = this.scrollY;

                      posicion = scroll_y;
                      let logo = document.getElementById("logo");
                      if (posicion >= 80) {
                        logo.src = "../img/logo_2_w.svg";
                        logo.style.width = "70px";
                        document.getElementById("logo-text").innerHTML = texto();
                      } else {
                        logo.src = "../img/logo_w.svg";
                        logo.removeAttribute("style");
                        document.getElementById("logo-text").innerHTML = "";

                      }
                    });
                    function texto() {
                      return '<p class="navbar-brand d-xl-inline-block" id="logo-text">' +
                        '<b>COOPACFI</b>' +
                        '</p>';
                    }
                  </script>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <div class="input-group">
                          <label class="col-sm-3 col-form-label">Numero de Identidad</label>
                          <div class="col-sm-3">
                            <select class="form-control" name="id_identidad" id="id_identidad" autocomplete="off"
                              required>
                              <option value="Cedula">Cedula</option>
                              <option value="RNC">RNC</option>
                              <option value="Pasaporte">Pasaporte</option>
                            </select>
                          </div>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" autocomplete="off" onchange="cedula23();"
                              name="cedula" id="cedula" placeholder="No.Identificacion" required>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-description">(Opcional)</p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Subir Imagen</label>
                        <div class="col-sm-9">
                          <input type="file" autocomplete="off" class="form-control file-upload-info">
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!--parte 2-->
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Direccion </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Dirreccion</label>
                      <div class="col-sm-9">
                        <input type="text" autocomplete="off" name="direccion" id="direccion" class="form-control"
                          required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Sector</label>
                      <div class="col-sm-9">
                        <input type="text" name="sector" id="sector" autocomplete="off" class="form-control" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Ciudad</label>
                      <div class="col-sm-9">
                        <input type="text" name="ciudad" id="ciudad" autocomplete="off" class="form-control" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Pais</label>
                      <div class="col-sm-9">
                        <input type="text" name="pais" id="pais" value="Republica Dominicana" autocomplete="off"
                          class="form-control" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Nacionalidad</label>
                      <div class="col-sm-9">
                        <select class="form-control" autocomplete="off" name="nacionalidad" id="nacionalidad" required>
                          <option>Dominicano</option>
                          <option>Haitiano</option>
                          <option>Otro</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Parte 3-->
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Informacion Laboral </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">Nombre de la Empresa</label>
                      <div class="col-sm-7">
                        <input type="text" name="empresa" id="empresa" autocomplete="off"
                          placeholder="institucion por la cual labora" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Puesto</label>
                      <div class="col-sm-9">
                        <input type="text" name="puesto" id="puesto" autocomplete="off"
                          placeholder="Puesto en el cual trabaja" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">Tiempo en la Empresa</label>
                      <div class="col-sm-7">
                        <select class="form-control text-center" name="tiempo" id="tiempo">
                          <option value="Mas de 1 Mes">Mas de 1 Mes</option>
                          <option value="Mas de 1 Año">Mas de 1 Año</option>
                          <option value="Mas de 5 Año">Mas de 5 Año</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Salario Mensual</label>
                      <div class="col-sm-8">
                        <input type="text" name="salario" id="salario" autocomplete="off"
                          placeholder="Ingresos mensuales" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
                <h4 class="card-title">En caso de que el Soccio posee cuenta bancaria
                </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">Posee Cuenta Bancaria</label>
                      <div class="col-sm-3">
                        <select class="form-control text-center" name="pose" id="pose" onchange="mostrar_ocultar()"
                          id="pose" required>
                          <option value="1">Si</option>
                          <option value="2">No</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" id="banco1">Nombre del Banco</label>
                      <div class="col-sm-8">
                        <input type="text" name="banco" id="banco" autocomplete="off" placeholder="Nombre del banco"
                          class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" id="no_cuenta1">No.Cuenta</label>
                      <div class="col-sm-9">
                        <input type="text" name="no_cuenta" id="no_cuenta" autocomplete="off"
                          placeholder="Numero de Cuenta" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--parte 4-->

          <script>
            function save() {
              Swal.fire('Guardado Exitosamente!', '', 'success');
            }

            function ocultar() {
              document.getElementById('banco').style.display = 'none';
              document.getElementById("no_cuenta").style.display = 'none';
              document.getElementById('banco1').style.display = 'none';
              document.getElementById("no_cuenta1").style.display = 'none';
            }
            function mostrar() {
              document.getElementById('banco').style.display = "block";
              document.getElementById('no_cuenta').style.display = "block";
              document.getElementById('banco1').style.display = "block";
              document.getElementById('no_cuenta1').style.display = "block";
            }

            function mostrar_ocultar() {
              let pose = document.getElementById('pose').value
              if (pose == 2) { ocultar(); }
              else if (pose == 1) { mostrar(); }
            }
          </script>
          <!--boton enviar-->
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-sm-9 col-form-label"></label>
                  <button type="submit" class="btn btn-secondary btn-fw">
                    <i class="fa fa-address-card-o"></i>Registrar Soccio</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com
              2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin
                templates</a> from Bootstrapdash.com</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="../assets/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../assets/js/shared/off-canvas.js"></script>
  <script src="../assets/js/shared/misc.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- endinject -->
  <!-- End custom js for this page-->
</body>

</html>