<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Index</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../public/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../public/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
  <link rel="stylesheet" href="../public/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="../public/assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../public/assets/vendors/css/vendor.bundle.addons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="../public/css/table.min.css">
  <link rel="stylesheet" href="../public/css/table.css">

  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../public/assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../public/assets/css/shared/style.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../public/assets/css/demo_1/style.css">
  <link rel="stylesheet" href="../public/css/custom.css">
  <!-- End Layout styles -->
  <link rel="shortcut icon" href="../public/img/logo_d.svg">
</head>

<body>
  <div class="loader-page" id="loader-page"></div>
  <div class="container-scroller" id="contener">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div id="div-logo" class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="/">
          <img id="logo" src="../public/img/logo_w.svg" alt="logo" />
          <span id="logo-text"></span>
        </a>
        <a class="navbar-brand brand-logo-mini text-white" href="#">
          <i class="fa fa-navicon ms-1 small" id="icon"><b>Menu</b></i>
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <div class="col-12">
          <ul class="navbar-nav ml-auto justify-content-end">
            <li>
              <h4 class="page-title bg-light">
                <b>Contabilidad</b>
              </h4>
            </li>
            <li class="nav-item dropdown user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                aria-expanded="false">
                <img class="img-xs rounded-circle" src="../public/img/avatar1.png"> </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="../public/img/avatar1.png" alt="Profile image">
                  <p class="mb-1 mt-3 font-weight-semibold">
                    Juan Carlos Abreu Paulino
                  </p>
                  <p class="font-weight-light text-muted mb-0">
                    juancarlos192003@gmail.com
                  </p>
                  <p class="font-weight-light text-muted mb-0">
                    Administrador
                  </p>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"><i class="fa fa-user-circle"></i> Mi Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"><i class="bi bi-chat-dots"></i> Soporte</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/exit"><i class="bi bi-box-arrow-in-right"></i> Salir</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="mb-5" id="espacio1">
            <a class="nav-link navbar-brand-wrapper d-sm-flex d-lg-none align-items-top justify-content-center"
              href="/index">
              <img src="../public/img/logo_w.svg" style="width: 100px; color: #000" alt="logo" />
            </a>
            <div class="text-wrapper mb-4" id="espacio2">
            </div>
            </a>
          </li>
          <li class="nav-item nav-category"><i class=" fa fa-list"></i> &nbsp;Menu Principal</li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#card_catalogo">
              <span class="menu-title"><i class="fa fa-book"></i> &nbsp;Cuentas del Catalogo</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#card_asiento" id="entrada">
              <span class="menu-title"><i class="bi bi-book-fill"></i> Entrada de Diario</span>
            </a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" data-toggle="collapse" href="#">
              <span class="menu-title"><i class="bi bi-bar-chart-line"></i> Reportes</span>
            </a>
          </li>
          <li class="nav-item nav-category"><i class=" fa fa-gear"></i> &nbsp;Menu de Mantenimiento</li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic">
              <i class="menu-icon typcn typcn-coffee"></i>
              <span class="menu-title"><i class="fa fa-gears"></i> Configuraciones</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="collapse" data-target="#create-users">
                    <i class="fa fa-user-circle"></i> &nbsp;Crear Usuario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="collapse" data-target="#card_role"><i
                      class="fa fa-vcard"></i> &nbsp;Administrar Roles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-window-maximize"></i> &nbsp;Ajustar
                    Caracteristica</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" href="/exit">
              <span class="menu-title"><i class="bi bi-box-arrow-in-right"></i> Salir</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel" id="accordion">
        <div class="content-wrapper">
          <div class="collapse fade show mt-4 text-center" id="index" data-parent="#accordion" aria-labelledby="index">
            <img class="img-fluid" src="../public/img/contabilidad.svg" alt="logo">
            <h4 class="text-title text-dark d-none d-lg-block"><b>Modulo de Contabilidad <i
                  class="fa fa-spinnerfa fa-spin fa-spinner"></i></b></h4>
            <h4 class="text-title text-dark small d-sm-block d-lg-none"><b>Modulo de Contabilidad <i
                  class="fa fa-spinnerfa fa-spin fa-spinner"></i></b></h4>
          </div>
          <div class="collapse fade" id="card_catalogo" data-parent="#accordion" aria-labelledby="card_catalogo">
            <div class="card-group">
              <div class="col-md-6 grid-margin">
                <div class="card">
                  <div class="card-header col-lg-12 col-12 p-2" style="background-color: #7ff06be7;">
                    <h4 class="text-title text-dark h5"><i class="fa fa-book"></i> Mantenimiento Cuentas del Catalogo
                    </h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row pagination-sm">
                          <label class="col-sm-3 col-form-label">Cuenta</label>
                          <div class="col-md-9">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                              <a class="page-link" href="#"><i class="fa fa-angle-double-left"></i></a>
                              <div class="input-group">
                                <input type="text" class="text-center text-dark page-link" placeholder="Entrada Cuentas"
                                  name="cuenta" id="cuenta">
                              </div>
                              <a class="page-link" href="#"><i class="fa fa-angle-double-right"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Nombre</label>
                          <div class="col-md-9">
                            <input type="text" name="nombre" id="nombre" autocomplete="off"
                              class="form-control text-center" placeholder="Nombre de la Cuenta Contable" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Tipo</label>
                          <div class="col-md-3">
                            <input type="text" name="tipo" id="tipo" autocomplete="off" class="form-control text-center"
                              placeholder="Tipo" />
                          </div>
                          <div class="col-md-6">
                            <input type="text" name="tipo1" id="tipo2" autocomplete="off"
                              class="form-control text-center" placeholder="Nombre Tipo Cuenta Contable" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Clase</label>
                          <div class="col-md-6">
                            <select name="clase" id="clase" autocomplete="off"
                              class="form-control form-control-sm text-center">
                              <option>Activo</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Movimiento</label>
                          <div class="col-md-6">
                            <select name="movimiento" id="movimiento" autocomplete="off"
                              class="form-control form-control-sm text-center">
                              <option>Si</option>
                              <option>No</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-6 col-form-label">Creacion</label>
                          <div class="col-md-6">
                            <input name="creacion" id="creacion" value="15/05/2022" autocomplete="off"
                              class="form-control text-center">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label">Moneda</label>
                          <div class="col-md-7">
                            <select name="moneda" id="moneda" autocomplete="off"
                              class="form-control form-control-sm text-center">
                              <option>Peso Dominicano</option>
                              <option>Dollar</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group row">
                          <label class="col-sm-7 col-form-label"> Fecha Suspencion</label>
                          <div class="col-md-5">
                            <input name="suspencion" id="suspencion" autocomplete="off" class="form-control text-center"
                              disabled>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group row">
                          <div class="col-md-2">
                            <input type="checkbox" name="activa" id="activa" autocomplete="off">
                          </div>
                          <label class="col-form-label">Activa</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label"> Usuario</label>
                          <div class="col-md-5">
                            <input name="usuario" id="usuario" autocomplete="off" class="form-control text-center"
                              disabled>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label"> Nota</label>
                          <div class="col-md-9">
                            <textarea class="form-control" id="nota" name="nota" rows="3"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Card 2-->
              <div class="col-md-6 grid-margin">
                <div class="card">
                  <div class="card-header col-md-12 col-12 p-2" style="background-color: #7ff06be7;">
                    <h4 class="text-title text-dark h5 "><i class="fa fa-book"></i> Mantenimiento Cuentas del Catalogo
                      <a class="link h6" href="#"><mark class="bg-light "><i class="fa fa-bar-chart-o"></i>
                          Reportes</mark></a></h4>
                  </div>
                  <div class="card-body">
                    <table class="table table-bordered mb-2">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">11.01.00.00</th>
                          <td>Activo</td>
                        </tr>
                        <tr>
                          <th scope="row">11.01.01.00</th>
                          <td>ACTIVO CORRIENTE</td>
                        </tr>
                        <tr>
                          <th scope="row">11.01.01.01</th>
                          <td>EFECTIVO CAJA GENERAL</td>
                        </tr>
                      </tbody>
                    </table>
                    <ul class="pagination justify-content-end">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--CARD ASIENTO-->
          <div class="collapse fade" id="card_asiento" data-parent="#accordion" aria-labelledby="card_asiento">
            <div class="card">
              <div class="card-header col-lg-12 col-12 p-2" style="background-color: #7ff06be7;">
                <h4 class="text-title text-dark h5"><i class="fa fa-book"></i> Entrada de Diario</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row pagination-sm">
                      <label class="col-sm-3 col-form-label">No Asiento</label>
                      <div class="col-md-9">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                          <a class="page-link" href="#"><i class="fa fa-angle-double-left"></i></a>
                          <div class="input-group">
                            <input type="text" class="text-center text-dark page-link" placeholder="Numero de Asiento"
                              name="asiento" id="asiento">
                          </div>
                          <a class="page-link" href="#"><i class="fa fa-angle-double-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Descripcion</label>
                      <div class="col-md-9">
                        <input type="text" name="descripcion" id="descripcion" autocomplete="off"
                          class="form-control text-center" placeholder="Descripcion del asiento contable" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="card-title">Entrada de Contable <button class="btn btn-inverse-light btn-faw btn-sm" id="btn_agregar"><i class="fa fa-plus"></i> Agregar filas</button></h4>
                    <div class="form-group row">
                      <label class="col-sm-6 col-form-label">Totales</label>
                      <div class="col-md-2">
                        <small class="text-muted">Diferencia</small>
                        <input type="text" name="diferencia" id="diferencia" autocomplete="off" class="form-control text-center" placeholder="Diferencia" disabled>
                      </div>
                      <div class="col-md-2">
                        <small class="text-muted">Total Credito</small>
                        <input type="text" name="total_Credito" id="total_Credito" autocomplete="off" class="form-control text-center" placeholder="Total Credito" disabled>                        
                      </div>
                      <div class="col-md-2">
                        <small class="text-muted">Total Debito</small>
                        <input type="text" name="totaDebito" id="totaDebito" autocomplete="off" class="form-control text-center" placeholder="Total Debito" disabled>                        
                      </div>                        
                      <div id="fila"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-none d-xl-inline-block text-center text-sm-left">Copyright ©Informatica
              Consulting Abreu y Paulino S.R.L</span>
            <span class="text-muted d-sm-block d-lg-none small text-sm-center">Copyright ©Informatica
              Consulting Abreu y Paulino S.R.L</span>
            <span class="float-none float-sm-right d-none d-xl-inline-block mt-1 mt-sm-0 text-center"> Diseñando por <a
                href="#" target="_blank">Informatica Consulting Abreu y Paulino S.R.L</a></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
  </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../public/assets/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../public/assets/js/shared/off-canvas.js"></script>
  <script src="../public/assets/js/shared/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../public/js/formato.js" type="text/javascript"></script>
  <script src="../public/js/table.min.js"></script>
  <script src="../public/js/table.js"></script>
  <script src="../contabilidad/js/main.js"></script>
  <!-- End custom js for this page-->
</body>

</html>